button {
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  border-radius: 8px;
  margin: 7% 0 7% 0;
  padding: 15px;
  width: 100%;
}

button span {
  color: var(--font-light-color);
  font-weight: 600;
  font-size: 1rem;
}

.large {
  margin: inherit;
}

.medium {
  margin: 0 5% 0 5%;
}

.small {
  margin: 0 15% 0 15%;
}

.secondary {
  background-color: var(--secondary-color);
}