.team-list-container {
  width: 60px;
  height: 100vh;
  background-color: var(--primary-color);
}

.team-list-btn-group {
  text-align: center;
  padding: 4px 0;
}

.team-list-item {
  padding: 8px 12px;
}

.team-list-btn-group button {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: var(--font-light-color);
}

.team-item-create button {
  background-color: var(--gray-5-color);
}

.team-item-create img {
  width: 55%;
  height: auto;
  object-fit: cover;
  object-position: center;
}