<div class="register-container">
    <div class="register-banner"></div>
    <div class="register-content">
      <div class="register-header">
        <h1>Crea tu cuenta</h1>
        <img src="/assets/logo/logo.png" alt="Eventoco" class="Eventoco">
      </div>
      <div class="register-form">
        <h2 class="register-form-title">Registrarse con</h2>
        <div class="register-form-social-buttons">
          <button class="form-social-btn" title="Facebook"><img src="/assets/social-networks/fb.png"></button>
          <button class="form-social-btn" title="Apple"><img src="/assets/social-networks/apple.png"></button>
          <button class="form-social-btn" title="Google"><img src="/assets/social-networks/google.png"></button>
        </div>
        <h2>o</h2>
        <div class="register-classic">
          <input-field label="Nombre" type="text"></input-field>
          <input-field label="Correo Electrónico" type="email"></input-field>
          <input-field label="Contraseña" type="password"></input-field>
          <main-button label="Iniciar Sesión" [secondaryColor]="true"></main-button>
        </div>
      </div>
    </div>
    <div class="register-footer">
      <p>© 2024, EventoCo</p>
    </div>
</div>